<!DOCTYPE html>

<html>

<head>
    <title>About Me</title>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>
<body>
    <div class="main-content">clear

    {{>header}}
    <p>This sit was created by Majella Greene. It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="/img/BeachPic.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>